{% extends "base.html" %}

{% block pagetitle %}Reset Password{% endblock %}

{% block content %}
<p>To reset your password, please enter your email address to receive instructions for resetting it.</p></br>

<form action="" method="post" class="form-inline">
    <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
    </div>
     {{ form.email.errors }}
    <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" class="btn btn-primary" value="Reset password" /></p>
</form>
{% endblock %}
