<!DOCTYPE html>

<html>
    <head>
        <title>403 | Permission Denied</title>
        <style type="text/css">
            body {
                background-color: #D1D0CE;
            }
            .big-text {
                font-size: 150%;
                font-weight: bold;
            }
            .other-text {
                font-size: 120%;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <center><img src="{{ STATIC_URL }}/static/images/skeptical_kid.jpg" style="border-radius: 18px;"></img>
        <p class="big-text">No, no, no!  You are trying to access a page you are not authorized for.</p>
        <p class="other-text">Please return to <a href="http://bendersgarage.com">bendersgarage.com</a> and log in with correct credentials or to view pages you have access to.</p></center>
    </body>
</html>

