<!DOCTYPE html>

<html>
    <head>
	<title>404 | Page Does Not Exist</title>
	<style type="text/css">
	    body {
		background-color: #D1D0CE;
	    }
	    .big-text {
		font-size: 150%;
		font-weight: bold;
	    }
	    .other-text {
		font-size: 120%;
		font-weight: bold;
	    }
	</style>
    </head>
    <body>
	<center><img src="{{ STATIC_URL }}/static/images/raiderssuck.jpg" style="border-radius: 18px;"></img>
	<p class="big-text">Oh No!  Like the Oakland Raiders in the playoffs, this page can't be found or doesn't exist.</p>
	<p class="other-text">Please return to <a href="http://bendersgarage.com">bendersgarage.com</a> and try again.</p></center>
    </body>
</html>
