{% extends 'base.html' %}
{% block pagetitle %}Bender's Garage Rules{% endblock %}

{% block stylesheets %}
{% endblock %}
{% block content %}

<div>
<h4><p><u>"On-Time" Rules</u></p></h4>
    <p>You will receive bonus starting chips if you do <u>both</u> of the following:</p>
        <ol>
	    <li><b>REGISTER</b> on this site as soon as you know you are playing.</li>
	    <li>Be physically at the Garage by <b>6:45 pm</b> on gameday.</li>
	</ol>
    <p>If you do register and are running late, <i>and</i> let the tournament director know you are running late but plan on playing, you will receive the standard starting chips and a seat.  You will be expected to buy-in upon arrival (naturally).  However, if you aren't at the Garage <b>by the end of the break</b>, your chips will be lifted off the table but you are not obligated to pay the buy-in once you get there. Players may not sit out the entire game and let their chip stack dwindle. If the player is not present by the end of the break, their chips will be forfeited no matter what.

<h4><p><u>Game Play</u></p></h4>
    <p>We generally follow the <a href="http://pokertda.com/poker-tda-rules/" target="_blank">Tournament Directors Association Rules</a>.  A few key things regarding our league:</p>
	<ol>
	    <li>When there is no more action possible (someone is all-in and no more side betting), players will table/show their cards.</li>
	    <li>If an all-in bet does not constitute enough for a <i>full</i> raise, then the raising is "closed".</li>
	</ol>
    
    <p><i>It is the responsibility of the individual to report to the Tournament Director when that individual busts out of the tournament.  If not, there is no guarantee that the weekly results will be accurate.</i>  The results page has each individual game result posted shortly after the completion of each game.  It is the responsibility of the individual player to confirm the accuracy of the results that are posted and to report via email if there is some alleged discrepancy in the results.  The deadline for any changes made to the weekly results is prior to the beginning of the next league game.  Any necessary changes may be made using confirmed verification from the tournament director and/or other players involved.</p>

<h4><p><u>Chip Vouchers for Bringing a First-Time Player</u></p></h4>
    <p>For every guest you bring throughout the season, you will get an add-on tournament chip voucher. Then, instead of flopping down cash during the break to get your add-on, use one of your vouchers. You can rack up and pocket as many of them as you want and don't necessarily have to use them during any game. You can even sell them during the breaks if you'd like.</p>

<h4><p><u>Player of the Year Prize Rules</u></p></h4>
    <p>Whoever finishes 1st place in the Player of the Year Standings (the most points after the final game of the season) wins a Ticket Event seat in Vegas (see below). </p>

<h4><p><u>Bounty Rules</u></p></h4>
    <p>The 10 players that are ranked highest in overall points standings that are playing in a particular weekly tournament will have a bounty on their head equaling a number of league points.  The number of league points earned for obtaining a bounty chip is based on the following formula: (12 points for bountying the #1 player in standings, 11 points for #2, ... 3 points for #10).</p>
    <p>Whoever's hand knocks a person with a bounty on their head wins the bounty points (points are labeled on bounty chips).  In the case of the winning hand being chopped, whoever had more chips going into the hand wins the bounty.  If a person who wins the weekly tournament has a bounty on their head, they receive their own bounty points.  During the first tournament of the season, the players that finished in the top 10 the previous season have bounties on their heads.</p>

<h4><p><u>Tournament of Champions</u></p></h4>
    <p>See the TOC page for information regarding the TOC rules.</p>

<h4><p><u>Ticket Event</u></p></h4>
    <p>The top 1 or 2 (depending on projected numbers at least halfway through the season) finishers of the TOC Gold table will earn a seat into a major event in June 2017, in addition to travel expenses for the event. (The POY top finisher wins a seat into this same event as well.) This event will be determined by Kevin in the months leading up to the event. This is subject to change based on projections throughout the season.</p>

<h4><p><u>Qualified Players</u></p></h4>
    <p>The players that buy into at least 11 of the 15 season games will qualify for a portion of the Ticket Event winnings. The qualified players will evenly split 15% of the post-tax winnings made by the league representatives in the Ticket Event. You must be a qualified player in order to be able to be selected by a Ticket winner as a replacement, in the event that a Ticket winner cannot play in the Ticket Event.</p>

<h4><p><u>Eligible Players</u></p></h4>
    <p>In order to be eligible for the TOC or POY prizes, the player must buy into at least 8 of the 15 regular season games.</p>
</div>
{% endblock %}

